# Gateway
AUTH_SERVICE_URL=http://auth-service:4005
REQUEST_SERVICE_URL=http://request-service:4000

# Auth service DB
AUTH_DB_NAME=auth_service_db
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres

# Request service DB
REQUEST_DB_NAME=request_service_db
REQUEST_DB_USER=postgres
REQUEST_DB_PASSWORD=postgres

# Shared secret for JWT (Base64-encoded)
JWT_SECRET=Q2hvbGNvbGF0ZXMgdGV4dCB3aXRoIDMyYnl0ZXMgaGVyZSE=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
